@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300;400&display=swap');

body{
    font-family: "Quicksand";
    margin: 0%;
}

/*=============== CONTAINERS =================*/
#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 100vh;
    width: inherit;
    margin: inherit;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem 1.5rem;
    padding-bottom: 1rem;
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.495);
    backdrop-filter: blur(3px);
    box-shadow: 8px 8px 6px #88888873
}

/*=============== HEADER =================*/
#main-container > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 200px;
    font-family: inherit;
    font-size: 40px;
}

/*=============== DROPDOWN MENU =================*/
#mySelect {
    border-radius: 5px;
    border: 1px solid black;
    background-color: pink;
    margin-right: 1vh;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    position: relative;
    padding: .5rem;
    padding-right: 1.5rem
}

/*=============== SUBMIT BUTTON =================*/
#submit {
    display: flex;
    margin-left: 40%;
    margin-top: 2vh;
}

img{
    align-items: center;
    width: 30vh;
    height: 30vh;
}

.artistCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    background-color: rgba(255, 255, 255, 0.495);
    backdrop-filter: blur(2px);
    box-shadow: 8px 8px 8px #b0b0b09c;
    margin-top: 18vh;
}

.artistCard:hover{
    border-color: plum;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    background-size: cover
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 8vh;
    margin-top: 15vh;
    z-index: -1;
}

button {
    border: solid;
    border-width: .2vh;
    cursor: pointer;
    padding: 11px 28px;
    border-radius: 12px;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
  }
  
 button:hover {
    box-shadow: none;
    transform: none;
    background: #C1E6DF
  }